.droplet {
    z-index: 1;
    max-width: 3vw;
    min-width: 3vw;
    position: absolute;
    top: 6vw;
    right: 8vw;
}

#nozzle {
    opacity: 1;
    z-index: 2;
    position: relative;
    min-width: 30vw;
    max-width: 30vw;
    top: 4vw;
}

#fluid {
    opacity: 1;
    z-index: 3;
    min-width: 30vw;
    max-width: 30vw;
    position: relative;
}

@keyframes drawArc {
    0% {
        transform: rotate(0deg) translateX(10vw) translateY(+13vw) rotate(75deg);
        opacity: 0;
    }
    90% {
        transform: rotate(0deg) translateX(7vw) translateY(+2vw) rotate(12deg);
    }
    100% {
        transform: rotate(0deg) translateX(0px) rotate(0deg);
    }
}

@keyframes drawArc2 {
    0% {
        transform: rotate(0deg) translateX(14vw) translateY(+13vw) rotate(75deg);
        opacity: 0;
    }
    90% {
        transform: rotate(0deg) translateX(7vw) translateY(+2vw) rotate(12deg);
    }
    100% {
        transform: rotate(0deg) translateX(0px) rotate(0deg);
    }
}

@keyframes drawArc3 {
    0% {
        transform: rotate(0deg) translateX(12vw) translateY(+8vw) rotate(75deg);
        opacity: 0;
    }
    90% {
        transform: rotate(0deg) translateX(7vw) translateY(+2vw) rotate(12deg);
    }
    100% {
        transform: rotate(0deg) translateX(0px) rotate(0deg);
    }
}

@keyframes dissolve {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#droplet.animation {
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounce;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

@keyframes MoveUpDown {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(4vw);
    }
}

#asset_container {
    height: 100vh;
    position: relative;
    border-radius: 15px 50px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
}


.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */

    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/*
    Multicoloured Hover Variations
*/

#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
#social-em:hover {
    color: #f39c12;
}